<html>
<header class="header-desktop">
    <div class="logo-title">
        <img src="{{ '/assets/images/icon.png' | relative_url }}" alt="Site Icon" class="site-icon">
        <h1><a href="{{ '/' | absolute_url }}">The TDAV Guidebook</a></h1>
    </div>
    <nav class="nav-menu">
        <ul>
            <li class="dropdown">
                <span><strong>info</strong></span>
                <div class="dropdown-content">
                    <a href="{{ '/info/overview' | absolute_url }}">Overview</a>
                    <a href="{{ 'info/system_architecture' | absolute_url }}">System Architecture</a>
                    <a href="{{ '/info/standards' | absolute_url }}">Standards of practice</a>
                    <a href="{{ '/info/office' | absolute_url }}">Contact & Office Hours</a>
                </div>
            </li>
            <li class="dropdown">
                <span><strong>curriculum</strong></span>
                <div class="dropdown-content">
                    <a href="{{ '/roles' | absolute_url }}">The TDAV Crew & Roles</a>
                    <a href="{{ '/resources' | absolute_url }}">Resources</a>
                    <a href="{{ '/curriculum/th242/index' | absolute_url }}">TH-242 Intro to Sound & Media Design</a>
                </div>
            </li>
            <div class="dropdown-submenu">
            <li class="dropdown">
            <span><strong>join us</strong></span>
            <div class="dropdown-content">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScX2viHIu5XVVzfpZCAmwuWKO1nN2-SErR2XBN7Vu9aUscSqQ/viewform?usp=sf_link"target="_blank">interest form</a>
                <div class="dropdown-submenu">
                <span><strong>apply</strong></span>
                    <div class="dropdown-content">
                    <a href="{{ '/roles/apply/crew_lead_apply' | absolute_url }}">Crew Lead Application</a>
                    <a href="{{ '/roles/apply/press_manager_apply' | absolute_url }}">Press Manager Application</a>
                    <a href="{{ '/roles/apply/photo_journalist_apply' | absolute_url }}">Photo Journalist Application</a>
                    <a href="{{ 'roles/apply/general' | absolute_url }}">General Application</a>
                    </div>
                </div>
            </div>
            </li>
            </div>
            <div class="dropdown-submenu">
            <li class="dropdown">
            <span><strong>support</strong></span>
            <div class="dropdown-content">
                
                
                <a href="{{ '/manuals' | relative_url }}">Manual Annex</a>
                <a href="{{ 'https://forms.gle/NcJiXXM8eMGTNG6F7' | absolute_url }}">Upload Show Files</a>
                <a href="{{ 'https://forms.gle/UoDwtec6SBRxWgrQ7' | absolute_url }}">General AV Requests</a>
            </div> 
        </ul>
    </nav>
</header>
<header class="header-mobile">
        </div>
        <div class="navigation-buttons">
            <a class="button" href="{{ 'index' | absolute_url }}">The TDAV Guidebook</a>
            <a class="button" href="{{ 'wikindex' | absolute_url }}">Menu</a>
        </div>
    </div>
</header>
</html>