<header>
    <div class="logo-title">
        <img src="{{ '/assets/images/icon.png' | relative_url }}" alt="Site Icon" class="site-icon">
        <h1><a href="{{ '/' | absolute_url }}">The TDAV Guidebook</a></h1>
    </div>
    <nav class="nav-menu">
        <ul>
            <li class="dropdown">
                <span><strong>info</strong></span>
                <div class="dropdown-content">
                    <a href="{{ '/info/overview' | absolute_url }}">overview</a>
                    <a href="{{ '/info/standards' | absolute_url }}">standards of practice</a>
                    <a href="{{ '/info/office' | absolute_url }}">Contact & Office Hours</a>
                </div>
            </li>
            <li class="dropdown">
                <span><strong>curriculum</strong></span>
                <div class="dropdown-content">
                    <a href="{{ '/curriculum/th242/index' | absolute_url }}">TH-242 Intro to Sound & Media Design</a>
                </div>
            </li>
            <li class="dropdown">
                <span><strong>roles & workflows</strong></span>
                <div class="dropdown-content">
                    <a href="{{ '/roles/the_tdav_crew' | absolute_url }}">The TDAV Crew</a>
                    <div class="dropdown-submenu">
                        <span><strong>Administrators</strong></span>
                        <div class="dropdown-content">
                            <a href="{{ '/roles/admin/supervisor' | absolute_url }}">Sound & Media Supervisor</a>
                            <a href="{{ '/roles/admin/lead' | absolute_url }}">Crew Lead</a>
                            <a href="{{ '/roles/admin/manager' | absolute_url }}">Press Manager</a>
                        </div>
                    </div>
                    <div class="dropdown-submenu">
                        <span><strong>Designers</strong></span>
                        <div class="dropdown-content">
                            <a href="{{ '/roles/designers/sound_designer' | absolute_url }}">Sound Designer</a>
                            <a href="{{ '/roles/designers/media_designer' | absolute_url }}">Media Designer</a>
                        </div>
                    </div>
                    <div class="dropdown-submenu">
                        <span><strong>Engineers</strong></span>
                        <div class="dropdown-content">
                            <a href="{{ '/roles/engineers/audio_engineer' | absolute_url }}">Audio Engineer</a>
                            <a href="{{ '/roles/engineers/media_engineer' | absolute_url }}">Media Engineer</a>
                            <a href="{{ '/roles/engineers/video_engineer' | absolute_url }}">Video Engineer</a>
                        </div>
                    </div>
                    <div class="dropdown-submenu">
                        <span><strong>Technicians</strong></span>
                        <div class="dropdown-content">
                            <a href="{{ '/roles/technicians/audio_technician' | absolute_url }}">Audio Technician</a>
                            <a href="{{ '/roles/technicians/media_technician' | absolute_url }}">Media Technician</a>
                            <a href="{{ '/roles/technicians/camera_operator' | absolute_url }}">Camera Operator</a>
                        </div>
                    </div>
                    <div class="dropdown-submenu">
                        <span><strong>Support</strong></span>
                        <div class="dropdown-content">
                            <a href="{{ '/roles/support/stage_hand' | absolute_url }}">Stage Hand</a>
                        </div>
                    </div>
                    <div class="dropdown-submenu">
                        <span><strong>Press</strong></span>
                        <div class="dropdown-content">
                            <a href="{{ '/roles/press/photo_journalist' | absolute_url }}">Photo Journalist</a>
                            <a href="{{ '/roles/press/photo_editor' | absolute_url }}">Photo Editor</a>
                            <a href="{{ '/roles/press/video_editor' | absolute_url }}">Video Editor</a>
                        </div>
                    </div>
                    <div class="dropdown-submenu">
                        <span><strong>apply</strong></span>
                        <div class="dropdown-content">
                            <a href="{{ '/roles/apply/crew_lead_apply' | absolute_url }}">Crew Lead Application</a>
                            <a href="{{ '/roles/apply/press_manager_apply' | absolute_url }}">Press Manager Application</a>
                            <a href="{{ '/roles/apply/photo_journalist_apply' | absolute_url }}">Photo Journalist Application</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="dropdown">
                <span><strong>resources</strong></span>
                <div class="dropdown-content">
                    <a href="{{ '/resources/recommendedsoftware' | absolute_url }}">Recommended Software</a>
                    <a href="{{ 'https://www.digitaltheatreplus.com/' | absolute_url }}"target="blank">Digital Theatre+</a>
                    <a href="{{ '/resources/marquette_sound_library' | absolute_url }}">Marquette Sound Library</a>
                    <a href="{{ '/resources/careers' | absolute_url }}">Careers in Theatre & AV</a>
                    <a href="{{ '/resources/contribute' | absolute_url }}">How to Contribute</a>
                </div>
            </li>
        </ul>
    </nav>
</header>
